/* color 
#93ad18
#6d840f
#333333
#666a86
#95b8d1

*/

.legend_title {
  color: #fff;
}

.create_employee_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.create_employee_title {
  color: #fff;
  font-weight: 500;
  background-color: #725d68;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px 10px 0px 0px;
}

.form_container {
  margin: 0;
  padding: 25px;
  background-color: #725d68;
  width: min-content;
  border-radius: 20px;
  box-shadow: 2px 2px 2px #000;
}
