*,
*::before,
*::after {
  box-sizing: border-box;
}

/* App */
.global_table_container {
  /* background-color: grey; */
  width: 100%;
  height: calc(100vh - 160px);
  display: flex;
  justify-content: center;
  align-items: start;
  margin-top: 16px;
}

/* Container */
.table_container {
  max-width: 90vh;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.header_title_table {
  color: #212427;
  padding-top: 10px;
  margin: 0;
}

.table tr {
  white-space: nowrap;
}

table {
  width: 100%;
  font-size: 0.8rem;

  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background-color: rgba(147, 173, 24, 0.8);
}

thead {
  background-color: #55608f;
  white-space: nowrap;
}

/* table {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  overflow-x: auto;
} */

th,
td {
  background-color: #fff;
  color: #212427;
  padding: 10px;
}

@media (max-width: 768px) {
  th,
  td {
    padding: 5px;
  }
}

@media (min-width: 769px) {
  th,
  td {
    /* padding-left: 32px;
    padding-right: 32px; */
    padding: 10px;
  }
  thead {
    font-size: 1rem;
    white-space: nowrap;
  }
  .table_container {
    min-width: fit-content;
  }
  .table_body_container {
    font-size: 1rem;
  }
}

.table_column_head_cell {
  background-color: #f2f2f2;
}

.column_header_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.pagination_container {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  width: 100%;

  position: static;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  color: #000;
  padding: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 0 0 10px 10px;
  background-color: rgba(147, 173, 24, 0.8);
}

.page_container {
  display: flex;
  justify-content: space-between;
}

.pagination_select_page_dropdown {
  margin-left: 30px;
}

.next_button_container {
  margin-left: 24px;
}

@media (max-width: 425px) {
  .table_scroll_container {
    overflow-x: scroll;
  }
  .table_container {
    max-width: 425px;
    overflow-x: auto;
  }
  .pagination_container {
    flex-direction: column;
    justify-content: space-between;
    align-items: normal;
  }
  .pagination_pages_container {
    display: flex;
    flex-direction: column;
  }

  .pagination_button_container {
    margin-top: 10px;
  }

  .pagination_go_to_page {
    margin-top: 5px;
  }
}

.pagination_pages_container {
  /* background-color: grey; */
  display: flex;
  align-items: center;
}

.pagination_button_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.MuiOutlinedInput-notchedOutline {
  border-width: 1px !important;
  border-color: black !important;
}
.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: black !important;
}

.no_data_container {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 10px;
}
